body, form, img, h1, h2, h3, h4, h5, p, a, div, ul, li {
    padding: 0;
    margin: 0;
    border: 0;
}

input, textarea, a {
    outline: 0;
}

body {
    font-family: 'PTSansRegular', Arial, sans-serif;
    font-size: 13px;
    color: #607586;
    background: #FFFFFF;
    overflow-x: hidden;
}

a {
    font-family: 'PTSansRegular', Arial, sans-serif;
    font-size: 13px;
    color: #607586;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-family: 'PTSansBold', Arial, sans-serif;
    font-weight: bold;
}

p {
    line-height: 20px;
}

h1 {
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #293848;
    text-shadow: 0 0 0 #293848;
    border-bottom: 1px solid #D1D5DC;
    padding: 0 0 32px 0;
    margin: 0 0 20px 0
}

h2 {
    font-weight: normal;
    font-family: 'PTSansRegular', Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #293848;
    text-shadow: 0 0 0 #293848;
    border-bottom: 1px solid #D1D5DC;
    padding: 0 0 7px 0;
    margin: 0 0 20px 0
}

h3 {
    font-weight: normal;
    font-family: 'PTSansRegular', Arial, sans-serif;
    font-size: 21px;
    line-height: 28px;
    color: #293848;
    text-shadow: 0 0 0 #293848;
}

h4 {
    font-weight: bold;
    font-family: 'PTSansBold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #293848;
    padding: 0 0 15px 0;
}

h4 a {
    font-weight: bold;
    font-family: 'PTSansBold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #293848;
    text-decoration: none;
}

h4 a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

li {
    padding: 7px 0 10px 13px;
}

li:last-child {
    border: 0;
    padding: 7px 0 0px 13px;
}

cite {
    font-style: normal;
    line-height: 24px;
    font-size: 20px;
    color: #293848;
    width: 292px;
    border-left: 5px solid #EAEAEA;
    padding: 0 0 0 15px;
    margin-top: 4px;
}

.fL {
    float: left;
}

.fR {
    float: right;
}

.clear {
    clear: both;
}

.ovh {
    overflow: hidden;
}

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
#header {
    min-width: 980px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    position: relative;
    z-index: 100;
    background: url(images/bg_header.jpg)
}

#header .top_info {
    width: 940px;
    margin: 0 auto;
    overflow: hidden;
    padding: 15px 20px 25px;
}

#header .top_info .logo {
    width: 319px;
    float: left;
    padding: 0px 0 0 1px;
}

#header .top_info .logo a {
    font-family: 'PTSansBold', Arial, sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 60px;
    font-weight: bold;
    text-decoration: none;
}

#header .top_info .logo a span {
    color: #FFB01F;
}

#header .top_info .header_contacts {
    width: 455px;
    float: left;
    font-family: 'PTSansRegular', Arial, sans-serif;
    color: #B6BFC9;
    font-size: 12px;
    line-height: 18px;
    padding: 8px 0 0 5px;
}

#header .top_info .header_contacts .phone {
    font-family: 'PTSansBold', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    word-spacing: 1px;
    padding: 0 0 2px 0;
}

#header .top_info .socials {
    float: left;
    width: 160px;
    text-align: right;
    padding: 14px 0 0 0;
}

#header .top_info .socials a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 0 0 2px;
}

#search_form {
    float: left;
    width: 320px;
    text-align: right;
    padding: 10px 0 0 0;
}

#search_form .txb_search {
    border: 1px solid #D0D0D0;
    display: inline-block;
    vertical-align: top;
    background: #FFFFFF;
    border-radius: 4px;
    width: 197px;
    height: 26px;
    margin: 0;
    padding: 0;
    padding: 1px 10px 0 10px;
    line-height: 26px;
    font-family: 'PTSansRegular', Arial, sans-serif;
    color: #798FA1;
    box-shadow: 0 1px 0 0 #FFFFFF;
}

#search_form .btn_search {
    vertical-align: top;
    width: 71px;
    text-transform: uppercase;
    height: 34px;
    border: 0;
    margin: 0 0 0 7px;
    padding: 0 0 5px 0;
    display: inline-block;
    font-family: 'PTSansBold', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    color: #3B424A;
    text-shadow: 0 0 0 #3B424A;
}

/*
================================================================================
|                                     CONTENT                                  |
================================================================================
*/
* {
    font-family: 'PTSansBold', Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.custom-form {
    width: 260px;
    border: 1px solid #EBEBEB;
    padding: 11px 19px 13px;
    background: #F8F8F8;
}

.custom-selects {
    position: relative;
}

.select-name {
    font-size: 14px;
    position: relative;
}

.select-result,
.input-result {
    width: 100%;
    border: 1px solid #D1D5DC;
    border-radius: 3px;
    background: #FFFFFF;
    display: block;
    color: #798FA1;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    font-family: 'PTSansRegular', Arial, sans-serif;
    padding: 1px 0 0 11px;
    box-shadow: 0 1px 0 0 #FFFFFF;
    cursor: pointer;
}

.form-file {
    opacity: 0;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 30px;
    height: 30px;
    width: 100%;
    cursor: pointer;
}


.select-result {
    background: url(/images/select_marker.gif) no-repeat right 13px #FFFFFF;
}

.custom-inner {
    position: absolute;
    width: 100%;
    z-index: 1;
    border: 1px solid #D1D5DC;
    border-radius: 3px;
    background: #FFFFFF;
    display: block;
    color: #798FA1;
    font-size: 13px;
    line-height: 28px;
    font-family: 'PTSansRegular', Arial, sans-serif;
    box-shadow: 0 1px 0 0 #FFFFFF;
    display: none;
}

.custom-option {
    padding: 1px 0 0 11px;
    cursor: pointer;
}

.custom-option:hover {
    background: #798FA1;
    color: #fff;
}

.btn-form {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: rgb(51 53 78);
    border: 0;
    border-radius: 4px;
    font-family: 'PTSansBold';
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'PTSansRegular', Arial, sans-serif;
}

.btn-file {
    position: absolute;
    top: 30px;
    height: 30px;
    z-index: 0;
}

.catalog-img {
    height: 150px;
}

.catalog-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #607586;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #33354e;
    border-color: #33354e;
}
